body {
    font-family: 'Inter', sans-serif;
    background-color: #2c2c2c;
    color: white;
    margin: 0;
    padding: 0;
}


.container {
    padding: 20px;
    padding-bottom: 80px; /* Ensure this is greater than the height of the navbar */
    position: relative;
}


.spendings-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}


.current-spending,
.avg-spending {
    font-size: 1.3em;
}


.current-spending {
    color: aquamarine;
}


.chart-container {
    width: 100%;
    max-width: 600px;
    height: 400px; /* Adjust height as needed */
    margin: 0 auto; /* Center the chart */
    overflow: auto;
}


canvas {
    width: 100%;
    height: 100%; /* Ensure canvas takes the full size of its container */
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


header h1 {
    font-size: 2em;
}


h4 {
    font-size: 1.5em;
}


.dropdowns {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    top: 0;
}


.dropdown {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
}


.dropdown:focus {
    outline: none;
    box-shadow: 0 0 5px #aaa;
}


.analysis-content {
    margin-top: 20px;
}


.chart,
.budget-info,
.transactions {
    margin-bottom: 20px;
}


.chart {
    display: flex;
    justify-content: space-between;
}


.budget-info,
.transactions {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
}


.budget-info h2,
.transactions h2 {
    margin-top: 0;
}


.transaction-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}


.transaction-item:not(:last-child) {
    border-bottom: 1px solid #444;
}


/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }


    .dropdowns {
        flex-direction: column;
    }


    .chart {
        flex-direction: column;
        align-items: center;
    }


    .budget-info,
    .transactions {
        width: 100%;
    }


    .transaction-item {
        flex-direction: column;
        align-items: flex-start;
    }


    .transaction-item div {
        margin-bottom: 5px;
    }
}


@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }


    .dropdowns {
        flex-direction: column;
        gap: 10px;
    }
}


.spendings-donut-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}


.spendings-donut {
    width: 100%;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}


.spendings-donut h3 {
    margin-bottom: 20px;
    text-align: center;
}


.spendings-donut canvas {
    width: 100% !important;
    height: 400px !important; /* Adjust the height as needed */
}


/* Navbar styling */
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    box-sizing: border-box;
    z-index: 100;
}


.navbar a.nav-item {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    flex-grow: 1;
    transition: color 0.3s;
}


.navbar a.nav-main {
    background-color: #ceb4ff;
    padding: 15px 25px;
    border-radius: 50%;
    transform: translateY(-15%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 105;
}


.navbar i {
    font-size: 20px;
    vertical-align: middle;
}


.plus-button,
.minus-button {
    position: fixed;
    bottom: 80px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: none;
    z-index: 1000;
}


.plus-button {
    background-color: #ceb4ff;
    color: #000;
}


.plus-button:hover {
    background-color: #b39fdb;
}


.minus-button {
    bottom: 130px;
    background-color: #ce8ca6;
    color: #000;
    font-size: 28px;
}


.minus-button:hover {
    background-color: #d0638f;
}


.form-container {
    margin: 20px 0;
}


.add-trans-container,
.remove-trans-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-sizing: border-box;
    width: 300px;
}


.add-trans-form,
.remove-trans-form {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.add-trans-form ul,
.remove-trans-form ul {
    list-style-type: none;
    padding: 0;
}


.add-trans-form li,
.remove-trans-form li {
    background-color: #444;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}


.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}


.form-group label {
    margin-bottom: 5px;
}


.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
}


.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}


.form-header h1 {
    margin: 0;
    font-size: 1.7em;
    flex-grow: 1;
}


.add-button,
.remove-button {
    width: 100%;
    padding: 10px;
    background-color: #ceb4ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
}


.add-button:hover,
.remove-button:hover {
    background-color: #b39fdb;
}


button {
    font-family: 'Inter', sans-serif; /* Ensure consistent font */
    outline: none; /* Remove outline */
    box-shadow: none; /* Remove any box shadow */
    transition: background-color 0.3s; /* Smooth transition for hover */
}


.close-button {
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    border: none;
    cursor: pointer;
}


.confirm-popup {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1001;
    width: 90%; /* Adjust as needed */
    max-width: 300px;
}


.confirm-popup p {
    margin-bottom: 20px;
}


.confirm-popup button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.confirm-popup button:first-of-type {
    background-color: #ff4d4d;
    color: white;
}


.confirm-popup button:last-of-type {
    background-color: #ccc;
    color: black;
}


.hidden {
    display: none;
}
