{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Spendings</h1>
            <h2>Weekly Analysis</h2>
            <div class="dropdowns">
                <select id="viewSelector" class="dropdown" onchange="navigateToView()">
                    <option value="weekly">Week</option>
                    <option value="monthly">Month</option>
                </select>
            </div>
        </header>

        <!-- Your weekly analysis content here -->

    </div>

    <script>
        function navigateToView() {
            const viewSelector = document.getElementById('viewSelector');
            const selectedValue = viewSelector.value;
            if (selectedValue === 'weekly') {
                window.location.href = '/';
            } else if (selectedValue === 'monthly') {
                window.location.href = '/monthly';
            }
        }
    </script>
</body>
</html>



{% endblock %}