


{% block content %}
<header>
    <h1>login</h1>
</header>
<a href="/" class="button">login</a>
<a href="/signup" class="button">signup</a>
{% endblock %}






<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaveSmart - Log In</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="login-container">
        <h1>SaveSmart</h1>
        <form action="homepage.html" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <a href="#" class="forgot-password">Forget Password?</a>
            
            <button type="submit">Log in</button>
        </form>
        <p>Don’t have an account? <a href="/">Sign Up</a></p>
    </div>
</body>
</html> -->
