{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='monthly.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Spendings</h1>
            <h2>Monthly Analysis</h2>
            <div class="dropdowns">
                <select id="monthSelector" class="dropdown" onchange="navigateToView()">
                    <option value="january">Jan</option>
                    <option value="february">Feb</option>
                    <option value="march">Mar</option>
                    <option value="april">Apr</option>
                    <option value="may">May</option>
                    <option value="june">Jun</option>
                </select>
                <select id="viewSelector" class="dropdown" onchange="navigateToView()">
                    <option value="monthly">Month</option>
                    <option value="weekly">Week</option>
                </select>
            </div>
        </header>

        <!-- Your monthly analysis content here -->
        <div class="spendings-info">
            <div class="current-spending">Total spending:</br>$1000</div>
            <div class="avg-spending">Avg/Week:</br> $250</div>
        </div>
        <div class="chart-container">
            <canvas id="spendingsChart"></canvas>
        </div>

    </div>

    <script>
        function navigateToView() {
            const viewSelector = document.getElementById('viewSelector');
            const selectedValue = viewSelector.value;
            if (selectedValue === 'weekly') {
                window.location.href = '/';
            } else if (selectedValue === 'monthly') {
                window.location.href = '/monthly';
            }
        }
    </script>

<script src="{{ url_for('static', filename='monthly.js') }}"></script>
</body>
</html>



{% endblock %}