{% block content %}
<div class="container">
    <h1>Welcome to SaveSmart!</h1>
    <p>Link with SGFinDex via SingPass to securely connect and manage your accounts across various banks seamlessly</p>
    <form action="/singpass" method="get">
        <button class="button">Link to SGFinDex</button>
    </form>
</div>
{% endblock %}

<style>
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    width: 80%;
}

h1 {
    margin-bottom: 20px;
    font-size: 90px;  /* Increased font size for the heading */
}

p {
    font-size: 30px;  /* Increased font size for the paragraph text */
}

.button {
    display: inline-block;
    background-color: #555;
    color: white;
    padding: 20px 30px;  /* Increased padding for a larger button */
    text-decoration: none;
    font-size: 50px;  /* Increased font size for the button text */
    border-radius: 8px;  /* Slightly larger border radius for aesthetics */
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #777;
}

</style>